{% extends "base.html" %}

{% block title %}
    О магазине
{% endblock %}

{% block body %}
    <div class="container">
        <h2>О магазине</h2>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Посмотри сюда!</h1>
              <p class="col-md-8 fs-4">В этом магазине вы можете покупать и добавлять товары</p>
              <p class="col-md-8 fs-4">Магазин, устар. лавка — предприятие розничной торговли, размещённое в стационарном здании, оборудованном для продаж товаров и оказания услуг</p>
              <a href="/" class="btn btn-lg btn-outline-primary">Перейти на главную</a>
            </div>
          </div>
    </div>
{% endblock %}


