{% extends "base.html" %}

{% block title %}
    Добавление товара
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Добавление товара</h2>
        <form method="post">
            <br>
            <input type="text" class="form-control" name=title id="title" placeholder="Введите название"><br>
            <input type="number" class="form-control" name=price id="price" placeholder="Введите цену"><br>
            <button type="submit" class="btn btn-success">Добавить товар</button>
        </form>
    </div>
{% endblock %}
